        /* 把我们所有标签的内外边距清零 */
        * {
            font-family: Arial, "STKaiti", 黑体, 宋体, sans-serif;
            color: rgb(0, 0, 0);
            margin: 0;
            padding: 0
        }
        /* em 和 i 斜体的文字不倾斜 */
        em,
        i {
            font-style: normal
        }
        /* 去掉li 的小圆点 */
        li {
            list-style: none
        }

        img {
            /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
            border: 0;
            /* 取消图片底侧有空白缝隙的问题 */
            vertical-align: middle
        }

        button {
            /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
            cursor: pointer
        }

        a {
            color: rgb(0, 0, 0);
            text-decoration: none
        }

        a:hover {
            color: #13a5e9
        }

        button,
        input {
            /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
            font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
        }

        body {
            width: 100%;
            height: 100%;
            background: url(img/bj.png) top center no-repeat fixed ;
            /* CSS3 抗锯齿形 让文字显示的更加清晰 */
            background-size: cover;
            -webkit-font-smoothing: antialiased;
            background-color: #f5f5f5;
            font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
            color: #666
            
            
        }
        .index{
            position: relative;
            width: 1200px;
            /* background-color: chartreuse; */
            /* left: 360px; */
            margin: 0 auto;
        }
        .index .zzj{
            position: fixed;
            width: 300px;
            height: 597px;
            background-color: rgb(255, 255, 255,0.77);
            border-radius: 20px;
        }

        .index .vidio{
            /* position: fixed; */
            width: 250px;
            height:77px;
            /* background-color: blue;    */
        }
        .index .zzj .tou{
            overflow: hidden;
            float: left;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            /* background-color: crimson; */
            margin: 0 auto;
        }
        .index .zzj div img{
            position: relative;
            height: 120px;
            width: 200px;
            transition: all 1s;
            left: -50px;
        }
        .index .zzj .tou :hover{
            transform:rotate(360deg);
      }
      .index .zzj .tu{
          overflow: hidden;
          float: left;
          width: 300px;
          height: 177px;
          /* background-color: blue; */
          border-radius: 20px;
      }
      .index .zzj p{
        font-size: 20px;
        border-bottom:7px solid rgb(69, 188, 243,0.47);
        margin-left: 27px ;
        margin-top: 17px;
        margin-right: 27px;
      }
      .index .zzj .tu img{
          width: 377px;
          height: 200px;
          transition: all 0.7s;
      }
      .index .zzj .tu img:hover{
        transform: scale(1.27);
      }
      .index .zzj p img{
          width: 27px;
          margin-right: 7px;
      }
      .index .zhuti {
            position: absolute;
            width: 873px;
            /* background-color: #fff; */
            left: 327px;
        }
        .index .zhuti div{
            width: 800px;
            height: 277px;
            background-color: rgb(255, 255, 255,0.47);
            margin-top: 17px;
            border-radius: 20px;
            transition: all 0.7s;
        }
        .index .zhuti div:hover{
            box-shadow: 0px 10px 17px 7px rgb(0, 0, 0,0.47);
        }
        .index .zhuti div .img{
            float: right;
            overflow: hidden;
            width: 347px;
            height: 277px;
            /* background-color: crimson; */
            /* margin-right: 27px; */
            margin-top:0px
        }
        .index .zhuti div .img img{
            position: relative;
            height: 277px;
            right: 77px;
            cursor: pointer;
            transition: all 0.7s;
        }
        .index .zhuti div .img :hover{
            transform: scale(1.27);
        }
        .index .zhuti div h1{
            position: relative;
            display: inline-block;
            left: 60px;
            font-size: 40px;
        }
        .index .zhuti div ul{
            position: relative;
            display: inline-block;
            left: 77px;
            top: 54px;
        }
        .index .zhuti div ul p{
            font-size: 20px;
            margin-top: 10px;
        }
        .index .zhuti div ul p :hover{
            color: #000;
            border-bottom:7px solid rgba(228, 102, 102, 0.77);
        }