        /* 把我们所有标签的内外边距清零 */
        * {
            /* font-famliy: Arial, "STKaiti", 黑体, 宋体, sans-serif; */
            color: rgb(0, 0, 0);
            margin: 0;
            padding: 0
        }
        /* em 和 i 斜体的文字不倾斜 */
        em,
        i {
            font-style: normal
        }
        /* 去掉li 的小圆点 */
        li {
            list-style: none
        }

        img {
            /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
            border: 0;
            /* 取消图片底侧有空白缝隙的问题 */
            vertical-align: middle
        }

        button {
            /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
            cursor: pointer
        }

        a {
            color: rgb(0, 0, 0);
            text-decoration: none
        }

        a:hover {
            color: #13a5e9
        }

        /* button,
        input {
             "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 
            font-famliy: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", 
        } */

        body {
            width: 100%;
            height: 100%;
            /* background: url(https://gitee.com/zzjzgz/img/raw/master/imgs/bj.png) top center no-repeat fixed ; */
            /* CSS3 抗锯齿形 让文字显示的更加清晰 */
            background-size: cover;
            -webkit-font-smoothing: antialiased;
            background-color:rgb(96, 196, 226,0.47) ;
            font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
            color: #666
            
            
        }
        .index{
            position: relative;
            width: 1200px;
            height: 647px;
            /* background-color: rgb(9, 177, 255); */
            margin: 0 auto;
        }
        .index .left{
            position: absolute;
            width: 300px;
            height: 647px;
            background-color: rgba(255, 255, 255, 0.77);
            border-radius: 17px;
        }
        .index .left .tou{
            width: 300px;
            height: 200px;
            text-align: center;
            border-bottom: 2px dashed skyblue;
        }
        .index .left .tu{
            overflow: hidden;
            /* float: left; */
            width: 120px;
            height:120px;
            border-radius: 50%;
            /* background-color: crimson; */
            border: 5px solid skyblue;
            margin: 0 auto;
            transition: all 2s;
            cursor: pointer;
        }
        .index .left .tu img:hover{
            transform: scale(1.5);
        }
        .index .left .tu img{
            position: relative;
            height: 120px;
            width: 200px;
            transition: all 1s;
            left: -50px;
        }
        .index .left .data{
            width: 300px;
            height: 477px;
            border-radius: 17px;
        }
        .index .left .data li{
            height: 57px;
            font-size: 20px;
            font-family: "宋体";
            font-weight: bold;
            line-height: 57px;
            text-align: center;
            cursor: pointer;
        }
        .index .left .data li:hover{
            color: skyblue;
        }
        .index .right{
            position: absolute;
            width: 850px;
            height: 647px;
            left: 327px;
            background-color: rgb(255, 255, 255,0.77);
            border-radius: 17px;
        }
        /* 与右边交互的类 */
        .change{
            background-color: rgba(86, 219, 243, 0.27);
            border-radius: 27px;
        }
        .w{
            display: none;
        }
        .index .right .right_data{
            position: relative;
            width: 700px;
            height: 400px;
            /* background-color: rgb(120, 170, 28); */
            margin: 110px auto;
        }
        .index .right .right_data .right_data_left{
            position: absolute;
            /* width: 350px; */
            height: 100%;
            /* background-color: aqua; */
        }
        .index .right .right_data .right_data_left li{
            /* width: 100%; */
            height: 80px;
            line-height: 80px;
            font-size: 20px;
            font-family: "楷体";
            /* background-color: brown; */
        }
        .index .right .right_data .right_data_right{
            position: absolute;
            
            height: 100%;
            /* background-color: rgb(99, 218, 109); */
            border-left: 2px dashed skyblue;
            left: 200px;
            padding-left: 27px;
        }
        .index .right .right_data .right_data_right li{
            /* width: 100%; */
            height: 80px;
            line-height: 80px;
            font-size: 20px;
            font-family: "楷体";
            /* background-color: brown; */
        }
        .index .right .right_technology{
            width: 700px;
            height: 400px;
            text-align: center;
            /* background-color: springgreen; */
            margin: 97px auto;
        }
        .index .right  .right_technology li{
            float: left;
            width: 175px;
            height: 227px;
            font-size: 30px;
            font-family: "楷体";
            /* background-color: steelblue; */
        }
        .index .right  .right_technology li .img{
            overflow: hidden;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            /* background-color: seagreen; */
            border: 2px dashed rgb(0, 0, 0,0.27);
            /* box-shadow: 5px 5px 17px 1px rgb(0, 0, 0,0.47); */
            margin: 0 auto;
            margin-bottom: 7px;
        }
        .index .right .right_hobby{
            position: relative;
            width: 700px;
            height: 444px;    
            /* 图片394px */
            text-align: center;
            /* background-color: springgreen; */
            margin: 77px auto;
            transition: all 0.7s;
        }
        .index .right .right_hobby:hover .an{
           opacity: 1;
        }
        .index .right .right_hobby ul{
            position: absolute;
            left: 247px;
            top: 367px;
        }
        .index .right .right_hobby ul li{
            float: left;
            width: 20px;
            height: 20px;
            background-color: rgba(255, 255, 255,0.57);
            margin-left: 20px;
            border-radius: 50%;
            transition: all 0.7s;
            cursor: pointer;
        }
        .index .right .right_hobby ul li:hover{
            transform: scale(1.25);
        }
        .an{
            position: absolute;
            width: 47px;
            height: 47px;
            background-color: rgb(255, 255, 255,0.47);
            line-height: 47px;
            text-align: center;
            top: 187px;
            border-radius: 0px 47px 47px 0px;
            cursor: pointer;
            opacity: 0;
            transition: all 0.7s;
        }
        .an img{
            transition: all 0.7s;
        }
        .an img:hover{
            transform: scale(1.25);
        }
        .index .right .right_hobby .h_right{
            border-radius: 47px 0px 0px 47px;
            left: 660px;
        }
        .index .right .right_hobby .wen{
            width: 700px;
            height: 50px;
            font-size: 17px;
            line-height: 50px;
            text-align: center;
        }
        .index .right .right_hobby .img{
            width: 700px;
            border: 7px solid rgb(129, 132, 143);
            
        }


